@model IEnumerable<Riode.WebUI.Model.Entity.Product>

@{
    ViewData["Title"] = "Index";
}




<h1>Product Index</h1>



<div class="row">
    <div class="col-12">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Images)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sku)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brands)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShopDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CreateData)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeleteByUserId)
                    </th>

                    <th>
                        <a class="btn btn-sm btn-success" asp-action="Create">Create New</a>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th>
                        <img width="70" height="70" src="~/uploads/images/@item.Images.FirstOrDefault(i=>i.IsMain)?.FileName" />
                    </th>
                    <th>
                        @Html.DisplayNameFor(item => item.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sku)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brands.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateByUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateData)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeleteByUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeleteData)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
  
    
