@model IEnumerable<Riode.WebUI.Model.Entity.Product>

@{
    ViewData["Title"] = "Index";
}




<h1>Product Index</h1>



<div class="row">
    <div class="col-12">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>
                        Images
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Sku
                    </th>
                    <th>
                        Brands
                    </th>
                    <th>
                        CreateData
                    </th>
                    <th>
                        <a class="btn btn-sm btn-success" asp-action="Create">Create New</a>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img width="70" height="70" src="~/uploads/images/@item.Images.FirstOrDefault(i=>i.IsMain)?.FileName" />
                    </td>
                    <td>
                       @item.Name
                    </td>
                    <td>
                        @item.Sku
                    </td>
                    <td>
                        @item.Brands.Name
                    </td>
                    <td>
                      @item.CreateData
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-sm btn-danger" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
  
    
