@model List<Blog>
@{
    ViewData["Title"] = "Index";
}

<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
            <li><a href="#" class="active">Blog</a></li>
            <li>Grid 3 Columns</li>
        </ul>
    </div>
</nav>
<div class="page-content pb-10 mb-10">
    <div class="container">
        <ul class="nav-filters filter-underline blog-filters justify-content-center" data-target=".posts">
            <li><a href="#" class="nav-filter active" data-filter="*">All</a><span>15</span></li>
            <li><a href="#" class="nav-filter" data-filter=".fashion">Fashion</a><span>10</span></li>
            <li><a href="#" class="nav-filter" data-filter=".lifestyle">Lifestyle</a><span>10</span></li>
            <li><a href="#" class="nav-filter" data-filter=".shopping">Shopping</a><span>2</span></li>
            <li><a href="#" class="nav-filter" data-filter=".sport">Sport</a><span>4</span></li>
            <li><a href="#" class="nav-filter" data-filter=".summer-sale">Summer Sale</a><span>1</span></li>
            <li><a href="#" class="nav-filter" data-filter=".travel">Travel</a><span>4</span></li>
            <li><a href="#" class="nav-filter" data-filter=".winter-sale">Winter Sale</a><span>1</span></li>
        </ul>
        <div class="posts grid post-grid row" data-grid-options="{
                        'layoutMode': 'fitRows'
                    }">

            @foreach (var item in Model)
            {
                var imagepath = item.Images.FirstOrDefault()?.FileName;
                <div class="wrap-item col-sm-6 col-lg-4 lifestyle shopping winter-sale">

                    <article class="post">
                        <figure class="post-media">
                            <a asp-action="details" asp-route-id="@item.Id">
                                <img src="~/uploads/images/blog/3col/@imagepath" width="380" height="280" alt="post" />
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                on <a href="#" class="post-date">@item.CreateData.ToString("dd MMM,yyyy")</a>
                                | <a href="#" class="post-comment"><span>@item.Comments</span> Comments</a>
                            </div>
                            <h4 class="post-title">
                                <a asp-action="details" asp-route-id="@item.Id">
                                    @item.Name
                                </a>
                            </h4>
                            <p class="post-content">
                                @item.Description
                            </p>
                            <a asp-action="details" asp-route-id="@item.Id" class="btn btn-link btn-underline btn-primary">
                                Read
                                more<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
            }


        </div>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                   aria-disabled="true">
                    <i class="d-icon-arrow-left"></i>Prev
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.PagesCaunt; i++)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@i">@i</a></li>

            }
            <li class="page-item">
                <a class="page-link page-link-next" href="#" aria-label="Next">
                    Next<i class="d-icon-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
