@model Riode.WebUI.Model.Entity.ProductColor

@{
    ViewData["Title"] = "Delete";
}


<h1 style="text-align:center">ProductColors Delete</h1>



<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.Name" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">SkuCode</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.SkuCode" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.description" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">CreateByUserId</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.CreateByUserId" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">CreateData</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.CreateData" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">DeleteByUserId</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.DeleteByUserId" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">DeleteData</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.DeleteData" aria-describedby="inputGroup-sizing-default">
</div>


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</form>