@model IEnumerable<Riode.WebUI.Model.Entity.OneCategory>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Category  Layout</h1>


<a class="btn btn-outline-success" asp-action="Create">Create</a>

<table class="table  tree">
    @foreach (var item in Model)
    {

        @if (item.ParentId == null)
        {

            <tr  class="treegrid-@item.Id box">
                <td style="color:red">@item.Name</td>
                <td class="d-flex justify-content-end">

                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
        @if (item.Children != null)
        {
            @foreach (var item1 in item.Children)
            {
                <tr  class="treegrid-@item1.Id treegrid-parent-@item1.ParentId box1">
                    <td>@item1.Name</td>
                    <td class="d-flex justify-content-end">

                        <a class="btn btn-outline-warning" asp-action="edit" asp-route-id="@item1.Id">Edit</a>
                        <a class="btn btn-outline-info" asp-action="details" asp-route-id="@item1.Id">details</a>
                        <a class="btn btn-outline-danger" asp-action="delete" asp-route-id="@item1.Id">delete</a>
                    </td>
                </tr>
            }
        }



    }


</table>


@section addjs{


    <script >

        $('.tree').treegrid();
        $('.box').removeClass("treegrid-expanded").addClass("treegrid-collapsed");
        $('.box ~ span').removeClass('treegrid-expander-expanded').addClass('treegrid-expander-collapsed');
        $('.box1').css("display", "none")
        $('.box1 .treegrid-expander-collapsed ').css("background-image", "url(~/libs/jquery-treegrid/img/expand.png)")

      
    </script>



}




